<header class="w-full bg-neutral-100 flex justify-between items-center px-6 md:px-8 py-3 dark:bg-neutral-900 transition-bg-color duration-200">
  <div class="flex justify-end items-center space-x-2">
    <span class="text-sm text-neutral-900 dark:text-neutral-500 duration-200">Light</span>
    <label for="toggle" class="w-9 h-5 flex items-center bg-neutral-300 rounded-full p-1 cursor-pointer duration-200 ease-in-out dark:bg-gray-600">
      <div class="toggle-dot bg-white w-4 h-4 rounded-full shadow-md transform duration-200 ease-in-out dark:translate-x-3"></div>
    </label>
    <span class="text-sm text-neutral-500 dark:text-neutral-100 duration-200">Dark</span>
    <input id="toggle" type="checkbox" class="hidden" :value="darkMode" @change="darkMode = !darkMode" />
  </div>
  <a href="#">
    <img src="/assets/img/logo.svg" alt="Logoipsum" class="h-12">
  </a>
  <nav>
    <ul class="flex gap-10 font-semibold text-sm">
      <li><a href="/" class="{{ 'dark:text-neutral-100' if url !== 'home' }} {{ 'text-purple-700' if url === 'home' }} duration-200">Home</a></li>
      <li><a href="/about" class="{{ 'dark:text-neutral-100' if url !== 'about' }} {{ 'text-purple-700' if url === 'about' }} duration-200">About</a></li>
    </ul>
  </nav>
</header>
